# Gradle
.gradle/
**/.gradle/
build/
**/build/

# Kotlin/Java
*.class
out/
**/.kotlin/

# IntelliJ IDEA
.idea/
*.iml

# Environment
local.properties
.env

# OS files
.DS_Store
Thumbs.db

**/.compose-doctor/
**/bin/